<h1>Bienvenido <%= @name %>!</h1>
<!-- <a href="welcome_path">Ir al home</a> -->
<%= link_to "Ir al home", welcome_path %> 
<!-- <a href="welcome/index">Enlace a mi ruta</a> -->
 <% # <%= link_to "Enlace a mi ruta", welcome_path %>
<%# ##
Welcome_path # /welcome/index
welcome_url #http://localhost:3000/welcome/index %>
